{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<div class="container flex-column justify-content-start text-start mb-4">
	<h2 class="m-0 mb-2 h4 text-start">Transaction history</h2>

	<table class="table">
		<thead>
			<tr>
				<th>Symbol</th>
				<th>Order</th>
				<th>Price</th>
				<th>Shares</th>
				<th>Timestamp</th>
			</tr>
		</thead>
		<tbody>
			{% for trx in transactions %}
			<tr>
				<td>{{ trx.symbol }}</td>
				<td>{{ trx.order }}</td>
				<td>{{ trx.price }}</td>
				<td>{{ trx.shares }}</td>
				<td>{{ trx.timestamp }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}